<a href="http://localhost:8080/api/products/getproducts"><button
  >Volver</button></a>
<hr />

<ul>
  <h1>{{product.title}}</h1>
  <p><b>Description: </b>{{product.description}}</p>
  <p><b>Price: </b>{{product.price}}</p>
  <p><b>Stock: </b>{{product.stock}}</p>
  <p><b>Code: </b>{{product.code}}</p>
  <p><b>Category: </b>{{product.category}}</p>
  <p><b>Fecha de creacion: </b>{{product.createdAt}}</p>
</ul>

<div>
  <h2>Actualizar Producto</h2>
  <form action="/api/products/{{product._id}}?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    Title:
    <input
      type="text"
      name="title"
      id="title"
      placeholder="{{product.title}}"
      value="{{product.title}}"
    />
    Description:
    <input
      type="text"
      name="description"
      id="description"
      placeholder="{{product.description}}"
      value="{{product.description}}"
    />
    Price:
    <input
      type="number"
      name="price"
      id="price"
      placeholder="{{product.price}}"
      value="{{product.price}}"
    />
    Stock:
    <input
      type="number"
      name="stock"
      id="stock"
      placeholder="{{product.stock}}"
      value="{{product.stock}}"
    />
    Code:
    <input
      type="text"
      name="code"
      id="code"
      placeholder="{{product.code}}"
      value="{{product.code}}"
    />
    Category:
    <input
      type="text"
      name="category"
      id="category"
      placeholder="{{product.category}}"
      value="{{product.category}}"
    />
    <br />
    <br />
    <input type="submit" value="ACTUALIZAR" />
  </form>
</div>